---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - dbops.dbprovision.io
  resources:
  - databasebackups
  - databasebackupschedules
  - databaserestores
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - dbops.dbprovision.io
  resources:
  - databasebackups/finalizers
  - databasebackupschedules/finalizers
  - databaserestores/finalizers
  verbs:
  - update
- apiGroups:
  - dbops.dbprovision.io
  resources:
  - databasebackups/status
  - databasebackupschedules/status
  - databaserestores/status
  verbs:
  - get
  - patch
  - update
- apiGroups:
  - dbops.dbprovision.io
  resources:
  - databaseinstances
  - databases
  verbs:
  - get
  - list
  - watch
